<div class="login-container">
    <div class="background-image"></div>

    <div class="login-form-container">
        <mat-card class="login-card">
            <div class="login-title-container">
                <mat-card-title>Login del usuario</mat-card-title>
                <mat-card-subtitle>Ingresa con tu cuenta o Registrate.</mat-card-subtitle>
            </div>
            <mat-card-content>
                <form [formGroup]="loginForm" (ngSubmit)="login()">
                    <mat-form-field appearance="outline" class="full-width">
                        <mat-label>Nombre de usuario</mat-label>
                        <input matInput formControlName="username" placeholder="Ingresa tu nombre de usuario" type="text" />
                        <mat-error *ngIf="loginForm.get('username')?.invalid">Nombre de usuario no válido</mat-error>
                    </mat-form-field>

                    <mat-form-field appearance="outline" class="full-width">
                        <mat-label>Contraseña</mat-label>
                        <input matInput formControlName="password" placeholder="Ingresa tu contraseña" type="password" />
                        <mat-error *ngIf="loginForm.get('password')?.invalid">Contraseña es requerida</mat-error>
                    </mat-form-field>

                    <div class="button-container">
                        <button mat-raised-button color="primary" type="submit" [disabled]="loginForm.invalid">Iniciar
                            Sesión</button>
                    </div>
                </form>
            </mat-card-content>
            <mat-card-actions>
                <a routerLink="/registro" class="login-link">¿No tenes una cuenta? Regístrate</a>
            </mat-card-actions>
        </mat-card>
    </div>
</div>