<div class="contenido-dashboard">
    <div class="background-image"></div>

    <div class="main-content">
        <mat-card class="welcome-card">
            <mat-card-content>
                <h1>Bienvenido/a {{ user }}</h1>
                <h2>Iniciaste sesion como: {{userRole}} </h2>

                <p>Selecciona una opción para comenzar</p>
            </mat-card-content>
        </mat-card>

        <div [ngSwitch]="userRole" class="options-grid">

            <!-- Anfitrion -->

            <div *ngSwitchCase="'ANFITRION'" class="options-container">
                <mat-card class="option-card" (click)="openGlobalDialog('alta')">
                    <mat-icon>add_circle</mat-icon>
                    <h3>Alta de Hospedaje</h3>
                    <p>Agrega un nuevo hospedaje</p>
                </mat-card>

                <mat-card class="option-card" (click)="openGlobalDialog('modificacion')">
                    <mat-icon>edit</mat-icon>
                    <h3>Modificar Hospedaje</h3>
                    <p>Actualiza la información de tu hospedaje</p>
                </mat-card>

                <mat-card class="option-card" (click)="openGlobalDialog('eliminar')">
                    <mat-icon>delete</mat-icon>
                    <h3>Eliminar Hospedaje</h3>
                    <p>Elimina un hospedaje existente</p>
                </mat-card>
            </div>

            <!-- Inquilino -->

            <div *ngSwitchCase="'INQUILINO'" class="options-container">
                <mat-card class="option-card" (click)="openGlobalDialog('reservarhospedaje')">
                    <mat-icon>event_available</mat-icon>
                    <h3>Reservar Hospedaje</h3>
                    <p>Agenda una nueva reserva</p>
                </mat-card>

                <mat-card class="option-card" (click)="openGlobalDialog('modificarreserva')">
                    <mat-icon>calendar_today</mat-icon>
                    <h3>Modificar Reserva</h3>
                    <p>Ver y gestionar tus reservas</p>
                </mat-card>

                <mat-card class="option-card" (click)="openGlobalDialog('cancelarreserva')">
                    <mat-icon>cancel</mat-icon>
                    <h3>Cancelar Reserva</h3>
                    <p>Elimina alguna de tus reservas</p>
                </mat-card>
            </div>


            <!-- Administrador -->

            <div *ngSwitchCase="'ADMINISTRADOR'" class="options-container">
                <mat-card class="option-card" (click)="openGlobalDialog('alta-servicio')">
                    <mat-icon>add_circle</mat-icon>
                    <h3>Alta de Servicio</h3>
                    <p>Agrega un nuevo servicio al sistema</p>
                </mat-card>

                <mat-card class="option-card" (click)="openGlobalDialog('modificacion-servicio')">
                    <mat-icon>edit</mat-icon>
                    <h3>Modificar Servicio</h3>
                    <p>Actualiza la información de los servicios</p>
                </mat-card>

                <mat-card class="option-card" (click)="openGlobalDialog('eliminacion-servicio')">
                    <mat-icon>delete</mat-icon>
                    <h3>Eliminar Servicio</h3>
                    <p>Elimina servicios existentes</p>
                </mat-card>
            </div>

            <!-- Default -->
            <div *ngSwitchDefault>
                <mat-card class="error-card">
                    <mat-icon color="warn">error</mat-icon>
                    <h3>Error - Rol no reconocido</h3>
                    <p>No se han encontrado opciones para tu rol de usuario.</p>
                </mat-card>
            </div>
        </div>
    </div>
</div>