<body>
    

<div class="mis-datos-container">
    <mat-card class="centered-card">
        <mat-card-header>
            <mat-card-title>Mis Datos Personales</mat-card-title>
        </mat-card-header>

        <mat-card-content>
            <form [formGroup]="usuarioForm" (ngSubmit)="guardarCambios()">
                <mat-form-field appearance="outline">
                    <mat-label>Nombre</mat-label>
                    <input matInput formControlName="nombre" required>
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>Apellido</mat-label>
                    <input matInput formControlName="apellido" required>
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>Email</mat-label>
                    <input matInput formControlName="email" required>
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>Username</mat-label>
                    <input matInput formControlName="username" required>
                </mat-form-field>

                <button mat-raised-button color="primary" type="submit" [disabled]="!usuarioForm.valid || loading">
                    {{loading ? 'Guardando...' : 'Guardar cambios'}}
                </button>
            </form>
        </mat-card-content>
    </mat-card>

    <div class="loading-overlay" *ngIf="loading">
        <mat-spinner></mat-spinner>
    </div>
</div>

</body>